<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
{%extends 'logs/base.html'%}
<body>
{%block content%}
    <main class="wrapper">
        <p class="page-title">Welcome to the Learning Log App</p>
        <p class="intro">Learning log helps you to keep track of any topic of interest.
            Anytime you learn a something new,make an entry summarizing what you've learnt.
        </p>
    </main>

{%endblock content%}
</body>
</html>