<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css'%}">
    <title>Learning Log app</title>
</head>
<body>
    <nav class="nav-container">
        <ul>
            <li><a href="{% url 'logs:index'%}">Learning log</a></li>
            {% if user.is_authenticated %}
            <li><a href="">Hi,{{user.username}}</a></li>
            <li><a href="{% url 'logs:topics'%}">Topics</a></li>
            <li><a href="{% url 'users:logout'%}">Logout</a></li>
            {%else%}
            <li><a href="{% url 'users:login'%}">Login</a></li>
            <li><a href="{% url 'users:register'%}">Sign Up</a></li>
            {%endif%}
        </ul>
    </nav>

    {%block content%}{%endblock content%}
</body>
</html>